#child{
    display: none;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#name{
    position: absolute;
    top: 280px;
}

#idk{
    position: absolute;
    top: 369px;
}

#award{
    position: absolute;
    top: 480px;
    left: 380px;
}

#EXP{
    position: relative;
    top: 480px;
    right: 280px;
}